<div class="row">
  <div class="col">
    <% if current_user %>
      <p class="sign-in lead text-center">
        Welcome. Please take a seat. We will begin shortly.
      </p>
    <% else %>
      <p class="sign-in lead text-center">
        Please <%= link_to('sign in', sign_in_path) %> to use the application.
      </p>
    <% end %>
  </div>
</div>
