<div class="container">
  <div class="row">
    <div class="col">
      <p class="sign-in lead text-center">
        Please <%= link_to('sign in', '#') %> to use the application.
      </p>
    </div>
  </div>
</div>
